


body{
	margin:0;
	padding:0;
	color:white;
	background: url(tloczarne.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
table{
	border: 1px solid black;
	width:100%;
	height:1000px;
	
}
td{
	border:1px solid black;
}
#menu1{
	width:15%;
	
}
#menu2{
	width:15%;
}
#menu3{
	width:15%;
}
h1{
	text-align:center;
	font-size:50px;
}
#t1{
	text-align:center;
	font-size:100px;
}
#tresc{
	background-image:url('tlozeszyty.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-blend-mode: lighten;
	color:white;
	font-size:30px;
	text-shadow: black 0.1em 0.1em 0.1em;
}
a{
	display:block;
	width:100%;
	#height:250px;
	color:white;
}
#wzor1{
	text-align:center;
	font-size:40px;
	border:1px solid white;
}
#wzor2{
	text-align:center;
	border:1px solid white;
	font-size:40px;

}
#wzor3{
	text-align:center;
}
#wzor4{
	text-align:center;
}
#wzor5{
	text-align:center;
	color:white;
	
}
#wzor6{
	text-align:center;
	color:white;
	border:1px solid white;
	font-size:40px;
}
#liczby1{
	text-align:center;
}
#liczby3{
	text-align:center;
}
#liczby5{
	text-align:center;
}
#liczby7{
	text-align:center;
}
#liczby9{
	text-align:center;
}

.kwadrat{
	width:200px;
	height:200px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	color:black;
	text-align:center;
	font-size:30px;
}
.prostokat{
	width:400px;
	height:200px;
	background-color:white;
	position:relative top: 50%; left: 50%; 
	margin-left:auto;
	margin-right:auto;
	color:black;
	text-align:center;
	font-size:30px;
	
}
#b{
	text-align:right;
}
input{
	margin:auto;
	display:block
	
}
button{
	width:200px;
	height:200px;
	background-color:grey;
	#margin-left:auto;
	#margin-right:auto;
	color:grey;
	#text-align:center;
	font-size:30px;
	cursor: pointer;
	border: 1px solid #333533;
	outline: none;
	background: #242423;
}
#pierwszaliczba{
	text-align:center;
}
#drugaliczba{
	text-align:center;
}
#wynik{
	text-align:center;
}
.przyciski{
	margin-left:400px;
	margin-right:auto;
	position:relative;
	
}
#pytanie{
	text-align:center;
}

#calculator {
    background: #eaeaea;
    margin: 0 auto;
    padding: 35px 25px 35px 25px;
    width: 380px;
    text-align: center;
}
#calculator button {
    padding: 10px;
    width: 80px;
	background-color:white;
}
#calculator input[type="text"] {
    padding: 10px;
    width: 350px;
    margin-bottom: 5px;
}
#obrazek{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:31%;
	
}
#cytat1{
	text-align:center;
}
#henri{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:25%;
	
}
#cytat2{
	text-align:center;
}
#historia1{
	text-align:center;
}
#tales{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:15%;
}
#otalesie{
	text-align:center;
}
#arystoteles{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:15%;
}
#oarysto{
	text-align:center;
}
#pitagoras{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:15%;
}
#opita{
	text-align:center;
}

header{
  background: #FE4A49;
}

.container{
  width: 95%;
  margin: auto;
}

.nav{
  overflow: hidden;
  background:#FE4A49;
  color: #fff;
  padding: 20px 0;
}

.nav h2{
  font-size: 2rem;
  float: left;
}

nav{
  float: right;
}

nav ul{
  list-style-type: none;
}

nav li{
  font-size: 1.3rem;
  margin-top: 5px;
  float: left;
  padding: 0 15px;
}

nav a{
  text-decoration: none;
  color: #fff;
}

.current a::after{
  content: '-';
  font-size: 4px;
  background-color: white;
  display: block;
}

.wrapper{
  display: grid;
  grid-template-columns: 82% 18%;
  width:50%;
  text-align:center;
  display:block;
	margin-left:auto;
	margin-right: auto;
	
}

.equation{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
  font-size: 5.2vw;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  margin: 10px 10px 0px 10px;
}

.equation h1{
  display: inline;
  padding: 20px;
}

.answer-options{
  font-size: 5.2vw;
  margin-right: 10px;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  transition: 2s;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

@media(max-width:768px){
  .nav h2{
    font-size: 1.5rem;
    float: none;
    text-align: center;
  }

  nav{
    float: none;
    display: flex;
    justify-content: center;
  }

  nav li{
    font-size: 1rem;
  }
}

@media(max-width:480px){
  .nav h2{
    float: none;
    text-align: center;
  }

  .equation h1{
    display: inline;
    padding: 10px;
  } 

  nav li{
    font-size: .8rem;
  }

}
#dodawanko{
	text-align:center;
	font-size:50px;
}
#fb{
	float:left;
	width: 25%;
	display:block;
	#margin-left:auto;
	#margin-right: auto;
	padding-left:15%;
	padding-right:6%;
}
#ig{
	float:left;
	width:25%;
	display:block;
	#margin-left:auto;
	#margin-right: auto;
	position:center;
	text-align:center;
	#padding-right:10%;
	padding-left:1%;
	padding-right:1%;
}
#tw{
	float:left;
	width:25%;
	display:block;
	#margin-left:auto;
	#margin-right: auto;
	#text-align:center;
	padding-left:1%;
	padding-right:1%;
}
#media{
	#margin: auto;
  width: 100%;
  #position:center;
#padding: 10px;
}
#glowny{
	float:left;
	width:20%;
	border:solid;
	font-size:50px;
	
	display: block;
   
    text-decoration: none;
}
#wzory{
	float:left;
	width:20%;
	border:solid;
	font-size:50px;
		background-color:#A9A9A9;
}
#gierki{
	float:left;
	width:20%;
	border:solid;
	font-size:50px;
		background-color:#A9A9A9
}
#kalkulator{
	float:left;
	width:20%;
	border:solid;
	font-size:50px;
		background-color:#A9A9A9;
}
#kontakt{
	float:clear;
	border:solid;
	font-size:50px;
		background-color:#A9A9A9;
}
#gornypanel{
	text-align:center;
	padding-bottom:1%;
	

}
h1{
	padding-bottom:1%;
}
a:link { 
	text-decoration: none; 
	color:white;
	
	}
	#glowny:hover{
		background: #6A5ACD;
	}
	#wzory:hover{
		background: #6A5ACD;
	}
	#gierki:hover{
		background: #6A5ACD;
	}
	#kalkulator:hover{
		background: #6A5ACD;
	}
	#kontakt:hover{
		background: #6A5ACD;
	}
#lewygora{
	width:49%;
	float:left;
	font-size:25px;
	
}
#prawygora{
	width:49%;
	float:left;
	font-size:25px;
	border-right:solid;
	border-left:solid;
	
}
#cotomatma{
	text-align:center;
	font-size:25px;
	padding-bottom:2%;
}
#historiamat{
	font-size:50px;
	text-align:center;
	border-top:solid;
	border-bottom:solid;
}
#talesior{
	width:33%;
	float:left;
	font-size:25px;
}
#tales{
	width:30%;
}
#arystotelesior{
	width:33%;
	float:left;
	font-size:25px;
	border-left:solid;
	border-right:solid;
	
}
#arystoteles{
	width:30%;
}

#pitapita{
	width:33%;
	float:left;
	font-size:25px;
}
#pitagoras{
	width:35%;
}
#historia1{
	border-bottom:solid;
}
#calewzory{
	font-size:25px;
}

#loga{
	font-size:45px;
}
#pytanie{
	font-size:45px;
}
#klikanie{
	
	margin-left:25%;
	margin-right:15%;
	text-align:center;
	width:50%;
}
